.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 1000px) {
    width: 60%;
  }
}
.left {
  display: none;
  @media (min-width: 1000px) {
    display: flex;
    justify-content: flex-start;
    
    height: 100%;
    font-size: 1.8rem;
    line-height: 1.6em;
    width: 60%;
    .herodesc {
      width: 70%;
    }
  }
}

.herokale {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url(../../public/kalelight.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.herotitle {
  font-size: 2.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (min-width: 700px) {
    font-size: 3rem;
  }
}

.green {
  color: #3ccd9d;
  font-weight: bold;
}

.letter {
  z-index: 10;
}

@media (min-width: 1000px) {
  .desktopview {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.HeroDescMob{
  display: none;
}






/* 
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 } */


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
  margin-top: 20px;
	
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid rgb(50, 50, 50);
  border-bottom: 2px solid rgb(50, 50, 50);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}





@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
