.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 1000px) {
    width: 60%;
  }
}
.left {
  display: none;
  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 1.8rem;
    line-height: 1.6em;
    width: 60%;
    .herodesc {
      width: 70%;
    }
  }
}

.herokale {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url(../../public/kalelight.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.herotitle {
  font-size: 2.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (min-width: 700px) {
    font-size: 3rem;
  }
}

.green {
  color: #3ccd9d;
  font-weight: bold;
}

.letter {
  z-index: 10;
}

@media (min-width: 1000px) {
  .desktopview {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
