.HeroDescMob {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
}
.herodesc {
  font-size: 1.3rem;
  width: 75%;
  line-height: 1.5em;
}
.green {
  color: #3ccd9d;
  font-weight: bold;
}