



.container_portofolio{
   padding:2rem;

   display:flex;
   justify-items: center;
   justify-content: center;
}


.cards_portfolio{
   display:flex;
   max-width:1000px;
   flex-wrap: wrap;
   justify-content: space-around;
   justify-items: center;
}


///////// CARDS que irian en otro componente pero no funciona next. Image


.container{

   width:400px;
   // border:1px solid red;
   padding:0 2rem;
   margin-bottom:2rem;
   height:800px;

   h5{
      padding:0;
      margin:0;
      padding-left:1rem;
      color:rgb(172, 172, 172);
   }
   h1{
      // border:1px solid red;
      padding:0;
      margin:0;
      font-weight: bold;     
      padding-left:1rem;

      display:inline;
   }

   .image_container{
      margin-left:4rem;
      margin-top:2rem;
      // border:1px solid red;
   }
   
   h3{
      padding:0.5rem 2rem;
      margin:0;
      transform:translateY(-20px);
      color:rgb(61, 61, 61);
      font-size:1rem;
      position:absolute;


   }

}

.shapeContainer{
   position:relative;

   .icon_container{
      position:absolute;
      top:14rem;
   }

   .kale_container{
      position:absolute;
      top:6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
   }

   .shapeLeft{
      position:absolute;
      left:0;
      top:0;
      transform: translateY(60px);
   }

   .shapeRight{
      position:absolute;
      right:0;
      top:0;
      transform: translateY(50px);
      
   }
}


