@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color:rgb(32, 32, 32);
  background-image:url('/dot.jpg');
  background-repeat: repeat;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
